<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <h1>Gym Trainer</h1>
    <p id = 'Starting'>
      Confused as to how to use an equipment at your gym? Click a picture or upload one from your gallery and find out everything related to it. It's that simple!
    </p>
    

    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div id = 'big-div'>
      <div class='title-label'>
        <label id='title-label'></label>
      <div class='ans-label'>
        <label id='info-label'></label>
      <div class='ques-label'>
        <label id='ques1-label'></label>
      <div class='ans-label'>
        <label id='often-label'></label>
      <div class='ques-label'>
        <label id='ques2-label'></label>
      <div class='ans-label'>
        <label id='muscles-label'></label>
       <div class='ques-label'>
        <label id='ques3-label'></label>
      <div class='ans-label'>
        <label id='tips-label'></label>
      </div>
         
    </div>
  </div>
</div>
         <p>Created with 💖 by <a href="https://linktr.ee/AbhijithChandran">Abhijith Chandran</a> | <a href = "https://github.com/cabhijith/Gym-Trainer">Code + Documentation</a></p>
</body>
</html>
