body {
    background-color: #fff;
}

.no-display {
    display: none;
}
h1 {
    font-family: neo-sans, sans-serif;
    color: #242a55;
    font-size: 50px;

    
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 20;
}

.title {
    font-size: 42px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 8em;
}

.analyze {
    margin-top: 5em;
}
.img-gym{
    max-width: 33%;
    height: auto;
    float: left;
}
.upload-label {
    padding: 10px;
    font-size: 12px;
}
.title-label{
    margin-top: 0.5em;
    color: #242a55;
    padding: 10px;
    font-size: 45px;
    font-family: neo-sans, sans-serif;
    font-weight: 650;
    line-height: 1.6;
    word-spacing: 3px;

}
.ans-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 22px;
    font-family: neo-sans, sans-serif;;
    font-weight: 300;
    line-height: 1.5;
    word-spacing: 3px;
   
}
.ques-label{
    margin-top: 0.8em;
    padding: 35px;
    font-size: 25px;
    font-family: neo-sans, sans-serif;;
    font-weight: 550;
    line-height: 1.5;
    word-spacing: 3px;
    

}
.small{
   font-size: 15px;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #7052CB;
    font-size: 16px;
    color: #7052CB;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #7052CB;
    border-radius: 2px;
    background-color: #7052CB;
    font-size: 16px;
    color: #ffffff;
}


button:focus {
    outline: 0;
}
