body {
    background-color: #fff;
}

.no-display {
    display: none;
}


.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 20;
}

.title {
    font-size: 42px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}
.title-label{
    margin-top: 0.5em;
    padding: 10px;
    font-size: 45px;
    font-family: "Open Sans", Times, serif;
    line-height: 1.6;
    word-spacing: 3px;

}
.ans-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 25px;
    font-family: "Open Sans", Times, serif;
    line-height: 1.6;
    word-spacing: 3px;
   
}
.ques-label{
    margin-top: 0.8em;
    padding: 30px;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    line-height: 1.6;
    word-spacing: 3px;
    float: right;
    

}


button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #7052CB;
    font-size: 16px;
    color: #7052CB;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #7052CB;
    border-radius: 2px;
    background-color: #7052CB;
    font-size: 16px;
    color: #ffffff;
}
#ques1-label { 
  background-color: lightblue;
}
button:focus {
    outline: 0;
}
